@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.montserrat{
    font-family: "Montserrat", sans-serif;
}
.dimWhite{
    color: #5e6472;
}
.bor{
    border: 1px solid black;
}

.nav-btn{
    padding: 10px 30px;
    transition: all ease 0.3s;
    border-radius: 25px;
    color: black;

}
.nav-btn:hover{
    background:  rgb(18, 18, 18);
    border-radius: 25px;
    color: white;
} 
.small-screen-nav-btn{
    background-color: rgb(241, 239, 239);
    border-radius: 8px;
    padding: 10px 5px;
}
.small-screen-nav-btn-li{
    padding: 10px 30px;

}
.project-bor{
    border-radius: 8px;
    border: dashed 1px #ffc107;
    background: rgba(255, 193, 7, .06);

}
.skills-icon{
    background: #ffc107;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 600;
    
}
.language-icon{
    border-radius: 8px;
    border: dashed 1px #ffc107;
    background: rgba(255, 193, 7, .06);

}